services:
  - type: web
    name: mern-backend
    env: node
    region: oregon
    plan: free
    buildCommand: "cd backend && npm install"
    startCommand: "cd backend && node server.js"
    envVars:
      - key: MONGO_URI
        sync: false
      - key: NODE_ENV
        value: "production"
      - key: PORT
        value: "5000"
